body {
	font-family: 'Open Sans', sans-serif !important;
}
:focus{
	outline-style: none;
	outline-width: 0px;
	outline-color: -webkit-focus-ring-color;
}
header#top {
	background-color: #48265c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#582774), to(#48265c));
	background-image: -webkit-linear-gradient(top, #582774) 0, #48265c 100%);
	background-image: -o-linear-gradient(top, #582774) 0, #48265c 100%);
	background-image: linear-gradient(to bottom, #582774) 0, #48265c 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#582774', endColorstr='#48265c', GradientType=0);
	background-repeat: repeat-x;
	box-shadow:0px 1px 4px #666;
}
.home-link {
	float:right;
	text-align: right;
}
.home-link::after {
	clear: both;
}
.home-link .logo {
	width: auto;
	height: 100px;
}
nav.nav-main {
	float:left;
}
nav.nav-main::after {
	clear:both;
}
.nav-main ul {
	height: auto;
	float: left;
	margin: 0;
	padding: 0;
}
.nav-main ul::after {
	clear: both;
}
.nav-main li {
	float: left;
	list-style-type: none;
	position: relative;
	display: block;
}
.nav-main li:last-child::after {
	clear: both;
}
.nav-main li a {
	color: #ddd;
	display: block;
	letter-spacing: 1px;
	text-transform: capitalize;
	font-size: 17px;
	line-height: 30px;
	padding: 32px 15px;
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-linear-transition: all .4s;
	transition: all .4s;
}
.nav-main li a:hover{
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid #fff;
}

/* Home Top Section */
section {
	padding: 3em 0 3.5em;
}
section.jumbotron.first {
	background-image: url('/images/top-section.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 0;
}
.top-section {
	text-align: left;
}
section.jumbotron#main h1 {
	color: #510080;
}
section.jumbotron#main h2 {
	color: #fc644d;
}
section.jumbotron#main p {
	font-size: 1.5em;
}
/* End Top Section */
/* Second Section */
section.second {
	padding: 100px 0;
	background-color: #fc644d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa6d57), to(#fc644d));
	background-image: -webkit-linear-gradient(top, #fa6d57) 0, #fc644d 100%);
	background-image: -o-linear-gradient(top, #fa6d57) 0, #fc644d 100%);
	background-image: linear-gradient(to bottom, #fa6d57) 0, #fc644d 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa6d57', endColorstr='#fc644d', GradientType=0);
	background-repeat: repeat-x;
}
section.second .row div a:hover {
	text-decoration: none;
}
section.second .row div:nth-child(1) span, section.second .row div:nth-child(2) span {
	opacity: 0;
	font-size: 10em;
	color: #fff;
	border: 1px solid #ddd;
	border-radius: 10px;
	display: block;
	margin: auto;
}
section.second .row div span {
	cursor: pointer;
}
section.second .row div:nth-child(1) {
	border-right: 1px solid rgba(255,255,255,.2);
}
/* Third and Fourth Sections */
section.third, section.fifth {
	margin-bottom: 0 !important;
	background-color: #fff !important;
}
section.third h1, section.fifth h1 {
	color: #510080;
}
section.third h2, section.fifth h2, section.prefoot h2 {
	text-align: center;
	margin-top: 0;
}
section.fifth, section.sixth {
	padding: 4em 0 4.5em;
}
/* Fifth and Sixth Sections */
section.fourth, section.sixth {
	border-top: 1px solid #eee;
}
/* Footer */
footer {
	background-color: #fc644d;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fa6d57), to(#fc644d));
	background-image: -webkit-linear-gradient(top, #fa6d57) 0, #fc644d 100%);
	background-image: -o-linear-gradient(top, #fa6d57) 0, #fc644d 100%);
	background-image: linear-gradient(to bottom, #fa6d57) 0, #fc644d 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fa6d57', endColorstr='#fc644d', GradientType=0);
	background-repeat: repeat-x;
	border-top: 1px solid #fff;
}
footer section.footer span {
	color: #333;
}
/* End Footer */
.time {
	display: none;
	margin-top: .6em;
	color: #999;
	font-size: .6em;
}
/* Admin Updates */
.updates a:hover {
	text-decoration: none;
}
.updates .updateButton {
	display: inline-block;
	width: 12em;
	text-align: center;
}
/* Add Class */
.active {
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	color: #560684!important;
	border: 1px solid #fff !important;
	background-color: rgba(255,255,255,.9);
}
.opacity {
	opacity: 0 !important;
}
.hidden {
	display: none;
}
.noTrans {
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	transition: none;
}
.updateButton {
	padding: .4em 1.6em;
	font-size: 1.2em;
	color: #fc644d;
	background-color: transparent;
	border: 1px solid #fc644d;
	border-radius: 4px;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.updateButton:hover {
	color: #fff;
	background-color: #fc644d;
}
.noHov {
	text-decoration: none !important;
}
.dim {
	opacity: .8;
	cursor: pointer;
}
.img-container {
	overflow: hidden;
	border: 3px solid #f2f2f2;
	border-radius: 2px;
	box-shadow: 1px 1px 6px #999;
}
div.img-container {
	opacity: 0;
}


